@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-size: 10px;
    font-size: var(--font-size);
    --size-xs: 1.1rem;
    --size-sm: 1.2rem;
    --size-base: 1.4rem;
    --size-lg: 1.6rem;
    --size-xl: 2rem;
    --size-2xl: 2.2rem;
    --size-3xl: 2.4rem;
}

@media (min-width: 600px) {
    :root {
        --size-xs: 1.2rem;
        --size-sm: 1.3rem;
        --size-base: 1.4rem;
        --size-lg: 1.6rem;
        --size-xl: 1.8rem;
        --size-2xl: 2rem;
        --size-3xl: 2.4rem;
    }
}

* {
    scroll-margin-top: 6rem;
    scroll-behavior: smooth;
    /*@apply overflow-x-hidden;*/
}

*::selection {
    @apply bg-ghost text-accent-fg;
}

*::-moz-selection {
    @apply bg-ghost text-accent-fg;
}

body {
    @apply flex flex-col font-mono bg-bg text-fg px-8 pb-8 min-h-dvh text-base;
}

main {
    @apply flex flex-col gap-12 py-4 max-w-6xl w-full mx-auto;
}

h1 {
    @apply text-accent-fg text-xl font-proto;
}

p {
    @apply leading-snug;
}

blockquote {
    @apply bg-blue-bg pl-4 pr-2 my-2 py-2 border-l-2 border-dashed border-blue-fg;

    p {
        @apply !flex flex-col;

        cite {
            @apply text-accent-fg not-italic font-proto text-xs;

            &::before {
                content: '- ';
                @apply text-accent-fg font-mono text-xs;
            }
        }
    }
}

pre {
    @apply bg-bg border border-blue-fg my-4 relative flex flex-col gap-4;
}

pre code {
    @apply flex flex-col pt-0 p-4 overflow-x-scroll;
}

table {
    @apply w-full table-auto my-4;

    thead tr {
        @apply border-b-2;

        th {
            @apply text-left font-proto text-sm whitespace-nowrap px-2;
        }
    }

    tr {
        @apply border-b border-ghost;
    }

    td {
        @apply border-x border-ghost px-4;
    }
}
.blog{
    h1 {
        @apply leading-tight;
    }
}

.disabled {
    @apply opacity-50 cursor-not-allowed;
}


.section {
    @apply flex flex-col gap-2.5;

    .heading {
        @apply flex justify-between items-center;

        a {
            @apply font-proto text-base bg-blue-bg no-underline hover:underline cursor-pointer;
        }
    }

    .content {
        @apply flex flex-col gap-6;

        p {
            @apply gap-1 flow-root;
        }

        a {
            @apply text-blue-fg animate no-underline hover:underline underline-offset-2;
        }
    }
}

.animate {
    @apply transition-all duration-500 ease-in-out;
}

.center-row {
    @apply flex items-center gap-1;
}

.btn {
    @apply flex gap-2.5 px-4 py-1 items-center bg-fg text-bg text-base whitespace-nowrap;
}

.tag {
    @apply px-4 py-1 border rounded-sm;
}

.x-scroll-container {
    @apply w-full overflow-x-auto;
}

/* hljs yorumi theme */
.hljs-comment { color: #656771; }
.hljs-quote { color: #656771; }
.hljs-keyword { color: #a188c3; }
.hljs-addition { color: #80aa6e; }
.hljs-selector-tag { color: #da72a2; }
.hljs-doctag { color: #a188c3; }
.hljs-literal { color: #d29146; }
.hljs-meta { color: #7aa8a7; }
.hljs-meta-string { color: #9cb67d; }
.hljs-number { color: #b4647f; }
.hljs-regexp { color: #f05c60; }
.hljs-string { color: #9cb67d; }
.hljs-name { color: #ba9a5e; }
.hljs-section { color: #da72a2; }
.hljs-selector-class { color: #a188c3; }
.hljs-selector-id { color: #a188c3; }
.hljs-title { color: #b4647f; }
.hljs-attr { color: #d29146; }
.hljs-attribute { color: #d29146; }
.hljs-class { color: #7aa8a7; }
.hljs-template-variable { color: #a7a9b5; }
.hljs-type { color: #7aa8a7; }
.hljs-variable { color: #bdbfcb; }
.hljs-bullet { color: #80aa6e; }
.hljs-link { color: #7aa8a7; }
.hljs-subst { color: #a7a9b5; }
.hljs-symbol { color: #b4647f; }
.hljs-built_in { color: #f05c60; }
.hljs-deletion { color: #f05c60; }
.hljs-formula { color: #d29146; }
.hljs-emphasis { font-style: italic; }
.hljs-strong { font-weight: bold; }